@font-face {
	font-family: 'Scada';
	src: url('./style/Fonts/Scada/Scada-Regular.ttf') format('truetype') 
}

:root {
  --lightGrey: #E2E2E2;
	--grey: #afafaf;
}

body {
  margin: 0;
  font-family: 'Scada';
	color: black;
	background-color: var(--lightGrey);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:link {
	color: var(--lightGrey);
	text-decoration: none;
}

a:visited {
  color: var(--lightGrey);
	text-decoration: none;
}

a:hover {
  color: var(--lightGrey);
	text-decoration: none;
}

a:active{
  color: var(--lightGrey);
	text-decoration: none;
}

.title {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

.inputs {
	width: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: row;
}

.input-title {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.input {
	height: 30px;
	background: white;
}

.inputs {
	display: flex;
	flex-direction: row;
}

.inputs > * {
	margin-left: 25px;
}

.title {
	font-size: min(40px, 12vh);
	margin: min(20px, 3vh)
} 

.input-title {
	margin-bottom: 5px;
}

.button {
	height: 30px;
	margin-left: 25px;
	margin-top: 24px;
	padding: 0 20px 0 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	color: var(--lightGrey)
}

