.options {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: min(20px, 3vh);
}

.options > * {
	height: 30px;
	padding: 0 20px 0 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--lightGrey);	
	background-color: black;
}
