input:focus {
	outline: none;
	border: 2px solid black;
	box-shadow: 0 0 0 0 ;   
}

input {
	height: 30px;
	padding: 0 10px 0 10px;
	outline: none;
	border: 2px solid var(--grey);
	box-shadow: 0 0 0 0 ;   
}

.input-text {
	width: 100%;
}